
<!DOCTYPE html>
<html>

<head>
    <!-- <script src="D:\PythonProj\profile\static/prof_scroll.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js"></script>
    <script src="\html2pdf.js"></script>
    <link rel="stylesheet" href="\prof.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="navbar">
        <button id="summary" onclick="summary()">Summary</button>
        <button id="experience" onclick="experience()">Experience</button>
        <button id="education" onclick="education()">Education</button>
    </div>
    <div class="main" id="profile_content">
        <h2 id="topic_summary">Summary</h2>
<p id="content">Looking forward for varied opportunities in PLM space at a reputed organization, to showcase my acquired skillset and devlop the same, while contributing as a team player, as well as an individual contributor </p>
<h2 id="topic_experience">Experience</h2>
<h2 id="companyname">Cognizant Technology Solutions</h2>
<h3 id="companyduration">AUG 2020 – TILL NOW | ENOVIA 2015X | CLIENT: MEDTRONIC</h3>
<p id="companydetails">Good knowledge of Enovia - MQL, TCL, BPS and Engineering Central
Good knowledge on Enovia Change Management and BOM Management modules
Carried out Enovia code analysis and minor enhancements using Enovia ADK
Experienced in working on Unix environment for Enovia
Handled Enovia issues including user queries, data changes, custom reports, server alerts and OS patching
Created TCL scripts for data fetching on demand as per business requirement
Knowledge on configuring Triggers along with Enovia UI components and other Admin objects</p>
<h2 id="companyname">Medtronic</h2>
<h3 id="companyduration">Jul 2019 - Aug 2020</h3>
<p id="companydetails">Good knowledge of Enovia - MQL, TCL, BPS and Engineering Central
Good knowledge on Enovia Change Management and BOM Management modules
Carried out Enovia code analysis and minor enhancements using Enovia ADK
Experienced in working on Unix environment for Enovia
Handled Enovia issues including user queries, data changes, custom reports, server alerts and OS patching
Created TCL scripts for data fetching on demand as per business requirement
Knowledge on configuring Triggers along with Enovia UI components and other Admin objects</p>
<h2 id="companyname">Cognizant Technology Solutions</h2>
<h3 id="companyduration">Dec 2017– Jul 2019 | ENOVIA 2015X | CLIENT: Abbott Laboratories</h3>
<p id="companydetails">Good knowledge of Enovia - MQL, TCL, BPS and Engineering Central
Good knowledge on Enovia Change Management and BOM Management modules
Carried out Enovia code analysis and minor enhancements using Enovia ADK
Experienced in working on Unix environment for Enovia
Handled Enovia issues including user queries, data changes, custom reports, server alerts and OS patching
Created TCL scripts for data fetching on demand as per business requirement
Knowledge on configuring Triggers along with Enovia UI components and other Admin objects</p>
<h2 id="companyname"></h2>
<h3 id="companyduration"></h3>
<p id="companydetails"></p>
<h2 id="companyname"></h2>
<h3 id="companyduration"></h3>
<p id="companydetails"></p>
<h2 id="topic_education">Education</h2>
<h2 id="course"><strong>Course: </strong>B.E. Mechanical Engineering</h2>
<h3 id="institute"><strong>Institute: </strong>St. Joseph’s Institute of Technology</h3>
<p id="board"><strong>Board: </strong>Anna University</p>
<p id="graduation"><strong>Graduation: </strong>Jun-17</p>
<p id="percentage"><strong>Percentage: </strong>81.40%</p>
<h2 id="course"><strong>Course: </strong>Higher Secondary -12th</h2>
<h3 id="institute"><strong>Institute: </strong>St. Alphonsa Mat. Higher Secondary School</h3>
<p id="board"><strong>Board: </strong>Higher Secondary Board</p>
<p id="graduation"><strong>Graduation: </strong>Apr-13</p>
<p id="percentage"><strong>Percentage: </strong>95%</p>
<h2 id="course"><strong>Course: </strong>SSLC – 10th</h2>
<h3 id="institute"><strong>Institute: </strong>Hebron Mat. Higher Secondary School</h3>
<p id="board"><strong>Board: </strong>Matriculation</p>
<p id="graduation"><strong>Graduation: </strong>Apr-11</p>
<p id="percentage"><strong>Percentage: </strong>93%</p>
    </div>
    <!-- button onclick="generatePDF()">Download as PDF</button> -->
</body>
</html>
