<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ashwin Kalaichandran</title>
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="../static/images/home.png" alt="Home" class="home">
                <nav>
                    <ul>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Education</a></li>
                        <li><a href="">Experience</a></li>
                        <li><a href="">Skills</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
                <img src="../static/images/menu.png" alt="Menu" class="menu-icon">
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>A Software Engineer<br>and Learner</h2>
                    <h3>Passionate Programmer</h3>
                    <p>Enovia PLM, Python, Web Development</p>
                    <h4>Dashboards and Analytics</h4>
                    <button type="button">Download Resume<img src="../static/images/arrow.png"></button>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </body>
</html>