
<!DOCTYPE html>
<html>

<head>
    <script src="prof.js"></script>
    <script src="html2pdf.js"></script>
    <link rel="stylesheet" href="prof.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="navbar">
        <button>Summary</button>
        <button onclick="experience()">Experience</button>
        <button>Skills</button>
    </div>
    <div class="main" id="profile_content">
        <h2 id="topic">Summary</h2>
<p id="content">Looking forward for varied opportunities in PLM space at a reputed organization, to showcase my acquired skillset and devlop the same, while contributing as a team player and as well as an individual contributor </p>
<h2 id="topic">Experience</h2>
<h2 id="companyname">Cognizant Technology Solutions</h2>
<h3 id="companyduration">AUG 2020 – TILL NOW | ENOVIA 2015X | CLIENT: MEDTRONIC</h3>
<p id="companydetails">Good knowledge of Enovia - MQL, TCL, BPS and Engineering Central
Good knowledge on Enovia Change Management and BOM Management modules
Carried out Enovia code analysis and minor enhancements using Enovia ADK
Experienced in working on Unix environment for Enovia
Handled Enovia issues including user queries, data changes, custom reports, server alerts and OS patching
Created TCL scripts for data fetching on demand as per business requirement
Knowledge on configuring Triggers along with Enovia UI components and other Admin objects</p>
<h2 id="companyname">nan</h2>
<h3 id="companyduration">nan</h3>
<p id="companydetails">nan</p>
    </div>
    <button onclick="generatePDF()">Download as PDF</button>
</body>
</html>
