<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script src="prof.js"></script>
    <link rel="stylesheet" href="prof.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- for particle js -->
    <canvas class="background"></canvas>
    <script>
        var particles = Particles.init({
            selector: '.background',
            color: 'white'
        });
    </script>
</head>

<body>
    <div class="navbar">
        <button>Summary</button>
        <button onclick="experience()">Experience</button>
        <button>Skills</button>
    </div>

    <div class="main">
        <h2 id="topic">Summary</h2>
        <p id="content">Looking forward for varied opportunities in PLM space at a reputed organization, to showcase my acquired
            skillset and devlop the same, while contributing as a team player and as well as an individual contributor
            towards the organization’s flourishment </p>
    </div>
</body>
</html>